@font-face {
    font-family: 'Minion';
    src: url('fonts/MinionPro-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Minion';
    src: url('fonts/MinionPro-It.otf');
    font-style: italic;
}

@page {
    size: letter;
    margin: 1.25in;
}

@page {
    @bottom {
        content: counter(page);
        font-family: 'Minion';
        font-size: 12pt;
        font-weight: 400;
        font-variant: prince-opentype(liga, onum);
        margin-bottom: 0.5in;
    }
}

body, h3 {
    font-family: 'Minion';
    font-size: 12pt;
    font-variant: prince-opentype(liga, onum);
    /*font-variant-numeric: oldstyle-nums;*/
    line-height: 2.4;
    /*max-width: 440pt;
    margin-top: 36pt;
    margin-bottom: 72pt;
    padding-left: 24pt;
    padding-right: 24pt;
    margin-left: auto;
    margin-right: auto;
    background-color: #FBFBFB;
    color: hsla(0, 0%, 0%, 0.8);*/
}

h3 {
  font-weight: 400;
  margin-top: 28.8pt;
  margin-bottom: 0;
  padding-top: 0;
  /*padding-top: 28.8pt;*/
  padding-bottom: 0;
  font-variant: small-caps;
  text-transform: lowercase;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p + p {
  text-indent: 1.5em;
}

blockquote {
  line-height: 1.2;
  margin-top: 7.2pt;
  margin-bottom: 7.2pt;
  padding-top: 0;
  padding-bottom: 0;
  break-inside: avoid;
}

blockquote blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote + blockquote {
  margin-top: 14.4pt;
}

.footnotes blockquote {
  margin-top: 7.2pt
}

a {
  text-decoration: none;
  color: black;
}

.title::after {
  content: ":"
}

hr {
  display: none
}

ol {
  margin-left: 16pt;
  padding-left: 0;
  /*list-style-position: inside;*/
}

.footnotes li {
    margin-left: 0;
    padding-left: 0;
    margin-top: 14.4pt;
}

.footnotes {
    line-height: 1.2;
}

h1 {
    break-before: page;
    margin-top: 2in;
    margin-bottom: 28.8pt;
}

h1, .title, .subtitle {
  font-family: 'Minion';
  font-size: 12pt;
  font-weight: 400;
  padding-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

header > h1 {
  margin-bottom: 0;
}

.author, .date {
  display: none;
}

.footnote-back {
    display: none;
}

.references p {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.footnote-ref {
  color: black;
}

span.smallcaps {
  font-variant: small-caps;
  text-transform: lowercase;
}

.tableOfContents a[href]::after {
  content: leader(" ") target-counter(attr(href), page)
}

td {
  padding-right: 3em;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}


/* Page numbers */

.tableOfContents, .frontMatter {
    page: front-matter;
}

@page front-matter {
    @bottom {
        content: counter(page, lower-roman);
    }
}
/* A hack to put a roman numeral
on the ToC. Update the number if
the front matter changes. */

#chapter1 {
    counter-reset: page 1
}

.frontMatter {
    counter-reset: page 4
}

ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.nets {
  color: hsl(0, 0%, 65%);
}

.nets strong {
  color: black;
}

.abstract h1 {
  text-transform: none;
  line-height: 1.35;
  text-align: left;
}

.abstract {
    page: abstract;
}

@page abstract {
    margin-left: 1.5in;
    margin-right: 1in;
    margin-bottom: 1in;
    margin-top: 1in;
    @bottom {
        content: none;
    }
}
